<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if flag %}
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href='{% static "/css/register.css" %}'>
</head>
<body>

<div class="main">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="form" method="POST" >  {% csrf_token %}
                <h1>Create Account</h1>
                <input type="text" id="name" name="name" placeholder="Name" pattern="[a-zA-Z ]{2,20}" title="Name should not contain any digits." required/>
                <input type="tel" id="mobile" name="mobile" placeholder="Mobile" pattern="[0-9]{10}" title="Mobile number should exactly be 10 digits." required/>
                <input type="text" name="state" id="state" placeholder="State" pattern="[a-zA-Z ]{2,15}" required>
                <input type="text" id="date" name="date" placeholder="DOB (MM/DD/YYYY)" min="1900-01-01" max="2004-04-08" onfocus="(this.type='date')" required>
                <select id="sex" name="sex" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Transgender</option>
                </select>
                <input type="button" class="scan" value="Scan Your Aadhar" onclick="startcamera()" >
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <img src='{% static "/img/ashok-stambh.png" %}' alt="Election Commission">
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <img src='{% static "/img/ashok-stambh.png" %}' alt="Election Commission">
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Welcome</h1>
                    <p>Enter your personal details to register yourself as a voter.</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <div class="camera" id="cam">
        <video id="player" width=250 height=250 autoplay ></video>
        <button id="capture">capture</button>
        <canvas id="snapshot" width=250 height=200 ></canvas>
        <a href="" id="image"></a>
        <form id="myForm" method="GET">  {% csrf_token %}
            <span id="image_str" name="image">hi</span>
            <button type="submit">send</button>
        </form>
    </div>
</div>
    <footer>
        <p>E-Voting with Aadhar Verification &copy 2021
        </p>
    </footer>
    {% load static %}
    <script src='{% static "/js/register.js" %}'></script>
{% else %}
<script>document.location="/Evoting_app/officerlogin" </script>
{% endif %}
</body>
</html>