<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/voting.css">
</head>
<body>
    <div class="heading"><button class="logout">Logout</button></div>
    
    <div class="container" id="container">
        <div class="voter_name">
            <h1>Voter's Name</h1>
        </div>
        <div class="candidate">
            <div class="items">
                <img src="../static/img/bjp.png" alt="BJP" width="80px">
                <h2>Candidate's Name</h2>
                <h3>Party Name</h3>
                <h3>Candidate's District</h3>
                <button class="vote">VOTE</button>
            </div>
            <div class="items">
                <img src="../static/img/congress.png" alt="BJP" width="80px">
                <h2>Candidate's Name</h2>
                <h3>Party Name</h3>
                <h3>Candidate's District</h3>
                <button class="vote">VOTE</button>
            </div>
            <div class="items">
                <img src="../static/img/aap.png" alt="BJP" width="80px">
                <h2>Candidate's Name</h2>
                <h3>Party Name</h3>
                <h3>Candidate's District</h3>
                <button class="vote">VOTE</button>
            </div>
            <div class="items">
                <img src="../static/img/congress.png" alt="BJP" width="80px">
                <h2>Candidate's Name</h2>
                <h3>Party Name</h3>
                <h3>Candidate's District</h3>
                <button class="vote">VOTE</button>
            </div>
            <div class="items">
                <img src="../static/img/congress.png" alt="BJP" width="80px">
                <h2>Candidate's Name</h2>
                <h3>Party Name</h3>
                <h3>Candidate's District</h3>
                <button class="vote">VOTE</button>
            </div>
        </div>
    </div>
    <footer>
        <p>E-Voting with Aadhar Verification &copy 2021</p>
    </footer>
</body>
</html>